Options All -Indexes # Evitar ver el contenido de las carpetas desde el navegador
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L] # Almacena la url actual